@import 'tailwindcss';

@theme {
  --color-primary: #42b883;
  --color-secondary: #1c3041;
  --color-light: #fff;
  --color-light2: #fefefe;
  --color-light3: #f9f9f9;
  --color-primary-darker: #0d864f;
  --color-dark: #55655c;
  --color-border: #b6b6b6;
  --color-danger: #d64045;
  --color-hover: #f0f0f0;
  --color-content: #fbfbfb;
  --color-dark-week: #94ae9f;
  --color-table-border: #e2e2e290;
  --color-overlay: #22222220;
  --color-shadow: #22222220;
  --color-danger: #d64045;
  --color-success: #66bda6;
  --color-table: #e2e2e290;
  --color-content: #fbfbfb;
  --color-weak-border: #e2e2e290;

  /* amimation */
  --animate-message: toast_slideinFormRight 0.2s ease-in-out;

  @keyframes toast_slideinFormRight {
    0% {
      margin-left: 100%;
    }
    80% {
      margin-left: -10%;
    }
    100% {
      margin-left: 0;
    }
  }
}
